/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* COMMONS */
.container {
    max-width: 62.5rem;
    margin: auto;
}

/* TYPO */
body {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 0.9rem;
    line-height: 1.6rem;
    font-weight: 300;
}

h2 {
    line-height: 2rem;
    font-weight: 400;
    color: #3C4043;
}

h1 {
    display: inline;
    vertical-align: middle;
    font-size: 1.4rem;
    font-weight: 400;
    color: grey;
}

nav a {
    color: grey;
}

/* HEADER */
header {
    padding: 1.875rem 0rem 0.8rem 1.875rem;
}
.logo-box {
    max-width: 25rem;
}

img {
    width: 20%;
    vertical-align: middle;
}
nav ul {
    margin-top: 1.875rem;
    display: flex;
    gap: 3rem;
    margin-bottom: 0;
}

nav ul li {
    margin-bottom: 0;
}


/* MAIN */
main {
    padding: 3.25rem 0;
}
li {
    margin-bottom: 3.25rem;
}

h2 {
    margin-bottom: 1.25rem;
}